input[type="text"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="text"]::-ms-clear,
input[type="search"]::-ms-clear {
  display: none;
}

